.albums {
  position: relative;
  align-items: center;
  scroll-behavior: smooth;
  margin-top: -90px;
}

.albums-card-content {
  display: grid;
  grid-template-columns: 0.36fr 1fr;
  background-color: var(--card-dark);
  border-radius: 8px;
  flex: 0 0 auto;
  width: 480px;
}

.albums-card-content img {
  max-width: 173px;
  border-radius: 8px 0 0 8px;
}

.albums-carousel {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px 30px;
  gap: 15px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  scroll-behavior: smooth;
  align-items: center;
}

.albums i {
  cursor: pointer;
  color: #c6c6c6;
  opacity: 0.5;
  font-size: 24px;
  transition: all 0.5s;
}

.albums i:hover {
  opacity: 1;
}

.albums-carousel h2 {
  color: var(--secondary-color);
  font-size: var(--text-size-xl);
  line-height: calc(var(--text-size-xl) * 1.2);
  font-weight: 600;
  width: 80%;
  margin-right: 20px;
}

.albums-info {
  padding: 19.2px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-content: center;
}

.albums-info button {
  font-size: var(--text-size-xxs);
  height: 32px;
}

.albums-info p {
  color: var(--text-light);
  font-family: var(--roboto);
  grid-column: 1/-1;
}

.albums-title {
  font-size: var(--text-size-s);
}

.albums-tracklist {
  font-size: var(--text-size-xxs);
  line-height: calc(var(--text-size-xxs) * 1.3);
}

.tracklist {
  color: var(--accent-color);
}

@media (max-width: 500px) {
  .albums {
    margin-top: -60px;
  }
}