footer {
  background-color: var(--card-dark);
  background-image: url(../img/footer-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  flex-direction: column;
}

footer img {
  padding: 0 6.4px;
  transition: all 0.3s;
}

footer img:hover {
  transform: translateY(-4px);
}

footer p {
  color: var(--text-gray);
  font-size: var(--text-size-xs);
  margin-top: 8px;
}