@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --primary-color: #01060c;
  --secondary-color: #9588ff;
  --accent-color: #e0be12;
  --text-light: #fdfeff;
  --text-dark: #3d3d3d;
  --text-gray: #bdbdbd;
  --text-highlight: #2a1c99;
  --text-link: #a78b00;
  --card-gray: #e4e4e4;
  --card-dark: #05111e;
  --spotify-color: rgba(28, 208, 94, 0.54);
  --social-icons: #375b8b;
  --header-background: linear-gradient(180deg, rgb(6, 14, 29) 0%, #010913 100%);
  --text-size-xxs: 0.94rem;
  --text-size-xs: 1rem;
  --text-size-s: 1.2rem;
  --text-size-m: 1.3rem;
  --text-size-l: 1.48rem;
  --text-size-xl: 1.9rem;
  --text-size-xxl: 2.9rem;
  --titillium: "Titillium Web", sans-serif;
  --roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--titillium);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  padding: 0 80px;
}

.button-bg {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
  font-family: var(--roboto);
}

.button-bg:hover {
  background-color: #f0da14;
  box-shadow: 0 0.5em 0.5em -0.4em var(--accent-color);
  transform: translateY(-0.25em);
}

.button-link {
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--text-size-xxs);
  cursor: pointer;
  width: fit-content;
  position: relative;
}

header {
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 32px 0 40px 0;
  transition: all .3s ease-in-out;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 0 28px 0;
}

header.sticky #logo {
  display: none;
}

nav a {
  text-decoration: none;
  color: var(--text-light);
  font-size: var(--text-size-m);
  margin: 0 24px;
  padding: 0 3.2px;
  position: relative;
}

nav a.active {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 2px;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.2s;
}

nav a:not(.active):hover::after {
  width: 100%;
}

.texture-background {
  background-image: url(../img/texture-bg.jpg);
  background-color: var(--card-dark);
  padding-bottom: 72px;
}

/* Banner */
.banner-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.banner-slider {
  display: flex;
  height: 100%;
  width: 400%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.banner-slider section {
  flex-basis: 25%;
  flex-shrink: 0;
  flex: 1;
  width: 25%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-slider .slide1 {
  background-image: url(../img/metallica.jpg);
}

.banner-slider .slide2 {
  background-image: url(../img/kiss.jpg);
}

.banner-slider .slide3 {
  background-image: url(../img/heat.jpg);
}

.banner-slider .slide4 {
  background-image: url(../img/blaze-bailey.jpg);
}

.banner-slider::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(261.89deg, rgba(25, 24, 24, 0.526) -1.43%, rgba(0, 0, 0, 0.754) 100%);
  transition: backgroundColor 0.5s;
  position: absolute;
}

.banner-slider:hover::after {
  background: linear-gradient(261.89deg, rgba(44, 37, 37, 0.339) -1.43%, rgba(0, 0, 0, 0.656) 100%);
}

.arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: #fff;
}

.arrow.left {
  left: 10px;
  z-index: 1;
}

.arrow.right {
  right: 10px;
  z-index: 1;
}

.banner-controls i {
  color: #b8b8b8;
  font-size: 40px;
  background: rgba(34, 34, 34, 0.341);
  border-radius: 50%;
  transition: 0.3s all;
}

.banner-controls i:hover {
  color: #f2f2f2;
  font-size: 40px;
  background: #100f0f57;
  border-radius: 50%;
}

.headline {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.headline a {
  color: var(--text-light);
  width: 60%;
}

.headline h1 {
  font-size: var(--text-size-xxl);
  font-weight: 600;
  line-height: calc(var(--text-size-xxl) * 1.2);
  text-transform: capitalize;
}

.headline p,
.playlists p {
  font-size: var(--text-size-m);
  line-height: calc(var(--text-size-m) * 1.3);
  font-family: var(--roboto);
  margin-top: 24px;
  font-weight: 400;
}

/* Albums released */
.albums {
  position: relative;
  align-items: center;
  scroll-behavior: smooth;
  margin-top: -90px;
}

.albums-card-content {
  display: grid;
  grid-template-columns: 0.36fr 1fr;
  background-color: var(--card-dark);
  border-radius: 8px;
  flex: 0 0 auto;
  width: 480px;
}

.albums-card-content img {
  max-width: 173px;
  border-radius: 8px 0 0 8px;
}

.albums-carousel {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px 30px;
  gap: 15px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  scroll-behavior: smooth;
  align-items: center;
}

.albums i {
  cursor: pointer;
  color: #c6c6c6;
  opacity: 0.5;
  font-size: 24px;
  transition: all 0.5s;
}

.albums i:hover {
  opacity: 1;
}

.albums-carousel h2 {
  color: var(--secondary-color);
  font-size: var(--text-size-xl);
  line-height: calc(var(--text-size-xl) * 1.2);
  font-weight: 600;
  width: 80%;
  margin-right: 20px;
}

.albums-info {
  padding: 19.2px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-content: center;
}

.albums-info button {
  font-size: var(--text-size-xxs);
  height: 32px;
}

.albums-info p {
  color: var(--text-light);
  font-family: var(--roboto);
  grid-column: 1/-1;
}

.albums-title {
  font-size: var(--text-size-s);
}

.albums-tracklist {
  font-size: var(--text-size-xxs);
  line-height: calc(var(--text-size-xxs) * 1.3);
}

.tracklist {
  color: var(--accent-color);
}

/* Latest news */
.latest-news-grid {
  margin-top: 25.6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.latest-news h3,
.top-news h3 {
  color: var(--accent-color);
  font-size: var(--text-size-xl);
  margin-top: 52.8px;
  font-weight: 600;
}

.latest-news-card {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
}

.latest-news-card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-news-card-content {
  padding: 1.5rem;
  display: grid;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  justify-content: space-evenly;
}

.latest-news-card-content p {
  grid-column: 1/-1;
}

.latest-news-card .date,
.latest-news-card .title,
.top-news-info .date,
.top-news-info .title {
  color: var(--text-light);
}

.latest-news-card .date,
.top-news .date {
  font-size: var(--text-size-xxs);
}

.latest-news-card .title,
.top-news-info .title {
  font-size: var(--text-size-m);
  font-weight: 600;
  line-height: calc(var(--text-size-m) * 1.4);
}

.latest-news-card .text,
.top-news-info .text {
  color: var(--text-gray);
  font-size: var(--text-size-xs);
  font-family: var(--roboto);
  font-weight: 400;
  line-height: calc(var(--text-size-xs) * 1.5);
}

.latest-news-card .button-link:after,
.top-news-info .button-link::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: all 0.2s;
}

.latest-news-card .button-link:hover,
.top-news-info .button-link:hover {
  color: var(--accent-color);
}

.latest-news-card .button-link:hover::after,
.top-news-info .button-link:hover::after {
  width: 100%;
}

/* Top news */
.top-news {
  background-color: var(--primary-color);
  padding-bottom: 72px;
}

.top-news-content {
  display: flex;
  flex-direction: row;
  margin-top: 25.6px;
  gap: 20px;
}

.top-news-wrapper {
  display: flex;
  width: 32.222%;
}

.top-news-card {
  display: flex;
  flex-direction: column;
}

.top-news-card img {
  width: 100%;
}

.top-news-info {
  position: relative;
  background-color: var(--card-dark);
  width: 90%;
  margin: -32px auto 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 auto;
}

/* Playlists */
.playlists {
  display: flex;
  align-items: center;
  background-image: url(../img/playlist-bg.jpg);
  background-color: var(--text-highlight);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.playlists h2 {
  font-size: var(--text-size-xl);
  line-height: calc(var(--text-size-xl) * 1.4);
  font-weight: 600;
}

.playlists .container {
  align-items: center;
  gap: 20px;
}

.playlists .info {
  flex-basis: 50%;
  color: var(--text-light);
}

.playlists button {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 28.8px;
  height: 40px;
  padding: 10px 30px;
  font-size: var(--text-size-xxs);
  letter-spacing: 1px;
}

.spotify {
  flex-basis: 20%;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--card-dark);
  background-image: url(../img/footer-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  flex-direction: column;
}

footer img {
  padding: 0 6.4px;
  transition: all 0.3s;
}

footer img:hover {
  transform: translateY(-4px);
}

footer p {
  color: var(--text-gray);
  font-size: var(--text-size-xs);
  margin-top: 8px;
}
