:root {
  --primary-color: #01060c;
  --secondary-color: #9588ff;
  --accent-color: #f0cb14;
  --text-light: #fdfeff;
  --text-dark: #3d3d3d;
  --text-gray: #9c9c9c;
  --text-highlight: #2a1c99;
  --text-link: #897409;
  --card-gray: #e4e4e4;
  --card-dark: #040d18;
  --spotify-color: rgba(28, 208, 94, 0.54);
  --social-icons: #375b8b;
  --header-background: linear-gradient(180deg, rgb(6, 14, 29) 0%, #010913 100%);
  --text-size-xxs: 0.9rem;
  --text-size-xs: 1.06rem;
  --text-size-s: 1.2rem;
  --text-size-m: 1.3rem;
  --text-size-l: 1.58rem;
  --text-size-xl: 2.1rem;
  --text-size-xxl: 2.9rem;
  --titillium: "Titillium Web", sans-serif;
  --roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--titillium);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  padding: 0 5rem;
}

.button-bg {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
  font-family: var(--roboto);
}

.button-bg:hover {
  background-color: #f0da14;
}

header {
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 0 2.5rem 0;
}

nav a {
  text-decoration: none;
  color: var(--text-light);
  font-size: var(--text-size-m);
  margin: 0 2rem;
  padding: 0 0.2rem;
  position: relative;
}

nav a.active {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 2px;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.2s;
}

nav a:not(.active):hover::after {
  width: 100%;
}

.banner {
  background-image: url(../img/metallica2.jpg);
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 75vh;
  display: flex;
  align-items: center;
  position: relative;
  background-attachment: fixed;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(261.89deg, rgba(46, 38, 38, 0.2688) -1.43%, rgba(0, 0, 0, 0.608) 100%);
  transition: all 0.5s;
  position: absolute;
}

.banner:hover::after {
  background: linear-gradient(261.89deg, rgba(78, 63, 63, 0.269) -1.43%, rgba(0, 0, 0, 0.437) 100%);
}

.headline {
  width: 50%;
  z-index: 1;
}

.headline a {
  color: var(--text-light);
}

.headline h1 {
  font-size: var(--text-size-xxl);
  font-weight: 600;
  line-height: calc(var(--text-size-xxl) * 1.2);
}

.headline p,
.playlists p {
  font-size: var(--text-size-m);
  line-height: calc(var(--text-size-m) * 1.2);
  font-family: var(--roboto);
  margin-top: 1.5rem;
  font-weight: 400;
}

.albums-released-wrapper {
  display: grid;
  grid-template-columns: 0.1fr 0.6fr 2fr 2fr 0.1fr;
  background-color: var(--primary-color);
  border-radius: 8px;
  align-items: center;
  padding: 0 2.5rem;
  margin-top: -7rem;
  z-index: 2;
  gap: 10px;
}

.albums-released-wrapper h4 {
  color: var(--secondary-color);
  font-size: var(--text-size-l);
  line-height: calc(var(--text-size-l) * 1.2);
  font-weight: 600;
  width: 80%;
}

.albums-released-card {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  background-color: var(--card-dark);
  border-radius: 8px;
  margin: 1rem 0;
}

.albums-released-card img {
  max-width: 100%;
  height: 100%;
}

.album-info {
  padding: 1.2rem;
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.album-info button {
  font-size: var(--text-size-xxs);
  height: 32px;
}

.album-info p {
  color: var(--text-light);
  font-family: var(--roboto);
  grid-column: 1/-1;
}

.album-title {
  font-size: var(--text-size-s);
}

.album-tracklist {
  font-size: var(--text-size-xxs);
  line-height: calc(var(--text-size-xxs) * 1.3);
}

.tracklist {
  color: var(--accent-color);
}

.texture-background {
  background-image: url(../img/texture-bg.jpg);
  background-color: var(--card-dark);
  padding-bottom: 4.5rem;
}

.latest-news-grid {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.latest-news h3,
.top-news h3 {
  color: var(--accent-color);
  font-size: var(--text-size-xl);
  margin-top: 3.3rem;
  font-weight: 600;
}

.latest-news-card {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.latest-news-card img {
  width: 100%;
  height: 100%;
}

.latest-news-card-info {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  background-color: var(--card-gray);
  justify-content: space-evenly;
}

.latest-news-card-info p {
  grid-column: 1/-1;
}

.latest-news-card .date,
.latest-news-card .title,
.top-news-card .date,
.top-news-card .title {
  color: var(--text-highlight);
}

.latest-news-card .date,
.top-news .date {
  font-size: var(--text-size-xxs);
}

.latest-news-card .title,
.top-news-card .title {
  font-size: var(--text-size-l);
  font-weight: 600;
  line-height: calc(var(--text-size-l) * 1.2);
}

.latest-news-card .text,
.top-news-card .text {
  color: var(--text-dark);
  font-size: var(--text-size-xs);
  font-family: var(--roboto);
  font-weight: regular;
  line-height: calc(var(--text-size-xs) * 1.4);
}

.button-link {
  color: var(--text-link);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--text-size-xxs);
  cursor: pointer;
  width: fit-content;
  position: relative;
}

.latest-news-card a:after,
.top-news-card a::after {
  content: "";
  position: absolute;
  background-color: var(--text-highlight);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: all 0.2s;
}

.latest-news-card a:hover,
.top-news-card a:hover {
  color: var(--text-highlight);
}

.latest-news-card a:hover::after,
.top-news-card a:hover::after {
  width: 100%;
}

.top-news {
  background-color: var(--primary-color);
  padding-bottom: 4.5rem;
}

.top-news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.6rem;
  gap: 20px;
}

.top-news-wrapper img {
  width: 100%;
}

.top-news-card {
  position: relative;
  background-color: var(--card-gray);
  width: 90%;
  margin: -2rem auto 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.playlists {
  display: flex;
  align-items: center;
  background-image: url(../img/playlist-bg.jpg);
  background-color: var(--text-highlight);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.playlists h2 {
  font-size: var(--text-size-xl);
  line-height: calc(var(--text-size-xl) * 1.4);
  font-weight: 600;
}

.playlists .container {
  align-items: center;
  gap: 20px;
}

.playlists .info {
  flex-basis: 50%;
  color: var(--text-light);
}

.playlists button {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.8rem;
  height: 40px;
  padding: 10px 30px;
  font-size: var(--text-size-xxs);
  letter-spacing: 1px;
}

.spotify {
  flex-basis: 20%;
  text-align: center;
}

footer {
  background-color: var(--card-dark);
  background-image: url(../img/footer-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;
  flex-direction: column;
}

footer img {
  padding: 0 0.4rem;
  transition: all 0.3s;
}

footer img:hover {
  transform: translateY(-4px);
}

footer img svg:hover path {
  fill: red;
}

footer p {
  color: var(--text-gray);
  font-size: var(--text-size-xs);
  margin-top: 0.5rem;
}
